spring:
  application:
    name: tech-challenge-2
  profiles:
    active: dev
  jackson:
    time-zone: UTC
    serialization:
      write-dates-as-timestamps: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.hibernate.SQL: debug